<div class="login-page bg-light">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Admin Login</h3>
                <div class="bg-white shadow rounded">
                    <div class="row m-0">
                        <div class="col-md-7 p-0">
                            <div class="form-left h-100 py-2 py-md-5 px-2 px-md-5">
                                <form [formGroup]="loginForm" class="row g-4">
                                    <div class="col-12">
                                        <label>Username or Email<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="text" class="form-control" formControlName="id"
                                                placeholder="Enter Username">
                                        </div>
                                        <div *ngIf="loginForm.get('id')?.invalid && (loginForm.get('id')?.touched || loginForm.get('id')?.dirty)"
                                            class="error">
                                            <div *ngIf="hasError('required','id')">This is required*</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                            <input type="text" class="form-control" formControlName="password"
                                                placeholder="Enter Password">
                                        </div>
                                        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
                                            class="error">
                                            <div *ngIf="hasError('required','password')">This is required*</div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-sm-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                            <label class="form-check-label" for="inlineFormCheck">Remember
                                                me</label>
                                        </div>
                                    </div> -->

                                    <div class="col-sm-12">
                                        <a href="#" class="float-end text-primary">Forgot Password?</a>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 float-end mt-4"
                                            (click)="login()">{{isProcessing?'Processing...':'Login'}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-bootstrap"></i>
                                <h2 class="fs-1">Welcome Back!!!</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>
            </div>
        </div>
    </div>
</div>