.mainHeaderLink {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.whatsappLogo {
    height: 30px;
    margin-left: 5px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 600 !important;
}

.whatsappIconContainer {
    background-color: #25d366;
}

.chatOnHeading {
    color: white;
    font-size: 600;
}